<% provide :action_text, t("devise.registrations.form.signup") %>
<div class="container-form">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-user">
            <h2 class="text-center">
              <strong><%= t "devise.registrations.form.signup" %></strong></h2>
            <%= render "form" %>
          </div>
        </div>
    </div>
  </div>
</div>
