<!DOCTYPE HTML>
<html>
<body>
  <section class="detailshow">
    <div class="slider_overlay">
      <div class="container">
        <div class="row bookstatus">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-6 status">
              <%  %>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="booktourdepart">
              <%= t ".notebook" %>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
