<% provide :title, t(".signup_title") %>
<% provide :button_text, t(".create_account") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2 class="text-center"><%= t ".signup_header" %></h2>
    <%= render "form" %>
  </div>
</div>
