<% flash.each do |messages_type, messages| %>
  <div class="alert alert-<%= messages_type %>" style="width: 100%">
    <p><%= messages %>
      <% if @tour.destroyed? %>
        <%= @tour.tour_name %>
      <% else %>
        <%= link_to @tour.tour_name, edit_tour_path(@tour),
      remote: true %>
      <% end %>
    </p>
  </div>
<% end %>
