$color-555555: #555555;
$color-87ceeb: #87ceeb;
$color-3ac984: #3ac984;
$color-888888: #888888;
$color-85858505: rgba(85, 85, 85, 0.5);
$color-192192015: rgba(192, 192, 192, 0.15);
$color-404040: #404040;
$color-32b777: #32b777;
$color-ececec: #ececec;
$color-163248: rgba(16, 32, 48, 0.25);
$color-1632481: rgba(16, 32, 48, -0.75);
$color-00002: rgba(0, 0, 0, 0.2);
$color-402643: rgb(40, 26, 43);
$color-81144802: rgba(8, 114, 48, 0.2);
$color-4710207: rgba(47, 102, 0, 0.7);
$color-47102073: rgba(47, 103, 0, 0.7);
$color-06415806: rgba(0, 64, 158, 0.6);
$color-17041606: rgba(170, 4, 16, 0.6);
$color-015: rgba(0, 0, 0, 0.15);
$color-080808: #080808;
$color-101010: #101010;
$color-222222: #222222;
$color-b1aca1: #b1aca1;
$color-7dabdb: #7dabdb;
$color-f0f0f0: #f0f0f0;
$color-181818: #181818;
$color-181818: #181818;
$color-cdcdcd: #cdcdcd;
$color-ccc: #ccc;
$color-464646: #464646;
$white: #ffffff;
$red: #FF0000;
$deepskyblue: deepskyblue;
$skyblue: skyblue;
$black: #000000;
$gray-light: #bbb;
$dark: #212;
$color-222833: #222833;
$color-222: #222;
$color-090909: #090909;
$color-9d9d9d: #9d9d9d;
$cerulean-color: #0694DF;
$mantis-color: #70C160;
$alto-color: #D9D9D9;
$fern-color: #5CB85C;
$apple-color: #47A447;
$electric-violet-color: #AA00FF;
$electric-light-color: #C906FF;
$color-333: #333;
$color-f5f5f5: #f5f5f5;
$color-ddd: #ddd;
$color-ecf0f5: #ecf0f5;
$color-0d8aee: #0d8aee;
$color-056ca0: #056ca0;
$blue: blue;
$amber: #ffbd00;
$congress-blue: #004a8b;
$silver-chalice-color: #A2A2A2;
$yellow: yellow;
$scorpion-color: #565656;
$white-color: #FEFEFE;
$mine-shaft-color: #323232;
$brandy-punch-color: #D6962C;
$royal-blue-color: #3879D9;
$carnation-color: #F56363;
$alabaster-color: #F9F9F9;
$banmt-color: rgba(0, 0, 0, 0.3);
$monsqa-color: rgba(0, 0, 0, 0.5);
$koqat-color: rgba(41, 41, 41, 0.68);
$haban-color: rgba(0, 0, 0, .175);
$tulanpo-color: rgba(0, 0, 0, .45);
$yahumo-color: rgba(0, 0, 0, 0.15);
$hafulo-color: rgba(0, 0, 0, 0.08);
$brandy-punch-color: #D6962C;
$dove-gray-color: #666;
$fire-bush-color: #E7A331;
$golden-grass-color: #DA9B31;
$color-saka: rgba(2, 9, 16, 0.59);
$thunderbird-color: #D9230F;
$eucofi-color: rgba(17, 17, 27, 0.33);
$aupota-color: rgba(255, 255, 255, 0.81);
$bay-many-color: #2D2686;
$wild-sand-color: #F5F5F5;
$mine-shaft-color: #353030;
$torea-bay-color: #1719AB;
$mako-color: #40414C;
$cornflower-blue-color: #6495ED;
$golden-fizz-color: #FBEF33;
$aquamarine-color: #65FFC9;
$kohaqo-color: rgba(16, 58, 95, 0.64);
$azure-color: #3F51B5;
$yotku-color: rgba(234, 234, 234, 0.9);
$gray-chateau-color: #A8AEB3;
$gallery-color: #EDEDED;
$pomegranate-color: #E84D1C;
$tupop-color: rgba(6, 6, 6, 0.63);
$silver-color: #C8C8C8;
$cerulean-color: #03A9F4;
$fiord-color: #3A576E;
$breaker-bay-color: #5F9EA0;
$elephant-color: #13324D;
$moon-mist-color: #DBDCC6;
$regal-blue-color: #003C71;
$kidnapper-color: #EEF1E4;
$mexican-red-color: #A52A2A;
