$color-555555: #555555;
$color-87ceeb: #87ceeb;
$color-3ac984: #3ac984;
$color-888888: #888888;
$color-85858505: rgba(85, 85, 85, 0.5);
$color-192192015: rgba(192, 192, 192, 0.15);
$color-404040: #404040;
$color-32b777: #32b777;
$color-ececec: #ececec;
$color-163248: rgba(16, 32, 48, 0.25);
$color-1632481: rgba(16, 32, 48, -0.75);
$color-00002: rgba(0, 0, 0, 0.2);
$color-402643: rgb(40, 26, 43);
$color-81144802: rgba(8, 114, 48, 0.2);
$color-4710207: rgba(47, 102, 0, 0.7);
$color-47102073: rgba(47, 103, 0, 0.7);
$color-06415806: rgba(0, 64, 158, 0.6);
$color-17041606: rgba(170, 4, 16, 0.6);
$color-015: rgba(0, 0, 0, 0.15);
$color-080808: #080808;
$color-101010: #101010;
$color-222222: #222222;
$color-b1aca1: #b1aca1;
$color-7dabdb: #7dabdb;
$color-f0f0f0: #f0f0f0;
$color-181818: #181818;
$color-181818: #181818;
$color-cdcdcd: #cdcdcd;
$color-ccc: #ccc;
$color-464646: #464646;
$white: #ffffff;
$red: #FF0000;
$deepskyblue: deepskyblue;
$skyblue: skyblue;
$black: #000000;
$gray-light: #bbb;
$dark: #212;
$color-222833: #222833;
$color-222: #222;
$color-090909: #090909;
$color-9d9d9d: #9d9d9d;
