@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'color';
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

/* Basic */

body {
  background: #222833;
}

body, input, select, textarea {
  color: $color-555555;
  font-family: "Raleway", sans-serif;
  font-size: 13pt;
  font-weight: 300;
  line-height: 1.75em;
}

a {
  color: $color-3ac984;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p, ul, ol, dl, table, blockquote {
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 700;
  line-height: 1.75em;
  margin-bottom: 1em;
  a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border-top: solid 1px #888888;
  border: 0;
  margin-bottom: 1.5em;
}

blockquote {
  border-left: solid 0.5em #888888;
  font-style: italic;
  padding: 1em 0 1em 2em;
}

section, article {
  .special {
    text-align: center;
  }
}

header {
  .major {
    padding-bottom: 4em;
  }
}

header {
  h2 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: 600;
  }
}

header {
  .byline {
    font-size: 1.6em;
  }
}

footer {
  > :last-child {
    margin-bottom: 0;
  }
}

footer {
  .major {
    padding-top: 3em;
  }
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
  position: relative;
  top: 3px;
}

/* Form */

:-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

.formerize-placeholder {
  color: $color-85858505 !important;
}

/* Image */

.image {
  border: 0;
  position: relative;
  .fit {
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
  .feature {
    display: block;
    margin: 0 0 2em 0;
    img {
      display: block;
      width: 100%;
    }
  }
}

/* Icon */

.icon {
  position: relative;
  :before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  > .label {
    display: none;
  }
}

/* Lists */

ol {
  .default {
    list-style: decimal;
    padding-left: 1.25em;
    li {
      padding-left: 0.25em;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  .icons {
    cursor: default;
    li {
      display: inline-block;
      line-height: 1em;
      padding-left: 0.5em;
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .actions {
    cursor: default;
    &:last-child {
      margin-bottom: 0;
    }
    li {
      display: inline-block;
      padding: 0 0 0 1.5em;
      &:first-child {
        padding: 0;
      }
    }
    .vertical {
      li {
        display: block;
        padding: 1.5em 0 0 0;
        &:first-child {
          padding: 0;
        }
      }
    }
  }
  .default {
    list-style: none;
    li {
      display: block;
      padding: 0.60em 0;
      border-top: 1px solid;
      border-color: $color-192192015;
    }
    > :first-child {
      padding-top: 0;
      border-top: none;
    }
  }
  .contact{
    li {
      padding: 1.05em 0;
      border-top: 1px solid;
      border-color: $color-192192015;
      > span {
        display: inline-block;
      }
      .address,
      .mail,
      .phone {
        float: left;
        width: 100px;
        font-weight: 600;
      }
    }
    > :first-child {
      padding-top: 0;
      border-top: none;
    }
  }
  .style {
    li {
      clear: both;
      display: block;
      padding-top: 3em;
    }
    > :first-child {
      padding-top: 0;
    }
    h3 {
      display: block;
      margin: 0;
      padding-bottom: 0.50em;
      font-size: 1.1em;
      font-weight: 700;
      color: $color-404040;
    }
    .fa {
      float: left;
      display: inline-block;
      width: 80px;
      height: 80px;
      margin-right: 1em;
      background: #3ac984;
      line-height: 80px;
      text-align: center;
      border-radius: 10px;
      font-size: 2em;
      color: $white;
    }
  }
  .list {
    list-style: none;
    li {
      display: block;
      padding: 0.60em 0;
      border-top: 1px solid;
      border-color: $red;
    }
    > :first-child {
      padding-top: 0;
      border-top: none;
    }
  }
}

/* Tables */

table {
  width: 100%;
  .default {
    width: 100%;
    tbody {
      tr {
        border-bottom: solid 1px $color-888888;
      }
    }
    td {
      padding: 0.5em 1em 0.5em 1em;
    }
    th {
      font-weight: 700;
      padding: 0.5em 1em 0.5em 1em;
      text-align: left;
    }
    thead {
      background: $color-555555;
      color: $white;
    }
  }
}

/* Button */

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background: $color-3ac984;
  border-radius: 40px;
  border: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  padding: 0.80em 2em;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 600;
  min-width: 10em;
  &:hover {
    background-color: $color-32b777;
  }
  .fit {
    width: 100%;
  }
  .small {
    font-size: 0.8em;
  }
}

/* Wrapper */

.wrapper {
  .style1 {
    background: $white;
  }
  .style2 {
    padding: 6em 0;
    text-align: center;
    height: 50px;
    margin-top: -414px;
  }
  .style3 {
    padding: 2em 0 3.5em 0;
    background: $color-ececec;
    span {
      display: inline-block;
      padding-top: 0.80em;
      font-size: 2em;
      font-weight: 600;
    }
    .button {
      float: right;
    }
  }
}

/* Header */

#header {
  background-size: cover;
  color: $white;
  padding: 6em 0;
  text-align: center;
  background-position: 0% 65%;
  position: fixed;
  &:before {
    position: absolute;
    left: -75px;
    top: 0;
    width: 111%;
    height: 19%;
    background: $color-163248;
  }
  > * {
    position: fixed;
    z-index: 1;
  }
}

#logo {
  margin-bottom: 145px;
  font-size: 2em;
}

#nav {
  > ul {
    margin-top: -145px;
    > li {
      border-radius: 10px 10px 0 0;
      display: inline-block;
      margin-left: 0.5em;
      padding: 0.5em 1.5em;
      > ul {
        display: none;
      }
      .active {
        background: $color-3ac984;
        a {
          color: $white;
        }
      }
      &:hover {
        a {
          color: $white;
        }
      }
      > a {
        color: $white;
        text-decoration: none;
        font-size: 1.2em;
        > img {
          margin-right: 350px;
        }
      }
    }
  }
}

/* Dropdown Button */

.dropbtn {
  background: $color-1632481;
  color: $white;
  padding: 16px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  height: 55px;
  font-family: "Shadows Into Light Two";
  font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted;
  .dropbtn {
    a {
      text-decoration: none;
      color: $white;
    }
  }
  &:hover {
    .dropdown-content {
      display: block;
      height: 55px;
    }
    .dropdown-logo {
      display: block;
    }
    .dropbtn {
      background: $color-163248;
      height: 58px;
    }
  }
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background: $color-163248;
  min-width: 97px;
  box-shadow: 0px 8px 16px 0px $color-00002;
  z-index: 1;
  a {
    color: $white;
    padding: 12px 16px;
    font-size: 19px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: "Shadows Into Light Two";
    font-weight: bold;
    border-bottom: 1px dotted $white;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background: $color-402643;
      display: block;
      position: relative;
    }
  }
}

.dropdown-logo {
  display: none;
  position: absolute;
  background: $color-163248;
  min-width: 54px;
  box-shadow: 0px 8px 16px 0px $color-00002;
  z-index: 1;
  a {
    color: $white;
    padding: 12px 16px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px dotted $white;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background: $color-402643;
    }
  }
}

.slided {
  margin-top: -280px;
}

.borsearch {
  width: 850px;
  height: 120px;
  background: $color-81144802;
  margin:-200px 257px 0;
  position: absolute;
  border-radius: 10px;
}

#searchresize {
  width: 800px;
  background: $white;
  margin-top: 10px;
}

.colorsearch {
  color: $white;
  font-size: 20px;
  margin-left: 10px;
}

.divnull {
  background: url("https://i.imgur.com/MbyGK3D.jpg") no-repeat center center;
  height: 45px;
}

.listtour {
  background: url("https://i.imgur.com/3W7mNrR.jpg") no-repeat center center;
  height: 600px;
}

.booking {
  background: url("https://i.imgur.com/R3bNDlT.jpg") no-repeat center center;
  height: 600px;
}

/* Banner */

#banner {
  text-align: center;
  padding: 4em 0 0 0;
  a {
    color: inherit;
  }
  .major {
    h2 {
      font-size: 3.5em;
    }
    .byline {
      display: block;
      margin: 0em 2em;
      line-height: 1.6em;
      font-size: 1.5em;
    }
  }
}

/* Main */

.homepage {
  #header {
    padding: 8em 0;
    background-position: center;
    position: relative;
  }
  #main {
    padding: 6em 0;
    .sidebar {
      > :first-child {
        margin-bottom: 3em;
      }
      .major {
        padding-bottom: 2em;
        h2 {
          font-size: 1.8em;
        }
      }
      .default {
        li {
          border-color: $color-cdcdcd;
        }
        a {
          color: $color-464646;
        }
      }
    }
    .major {
      text-align: center;
    }
  }
}

/* Footer */

#footer {
  background: url("https://i.imgur.com/oH7m2VU.jpg") no-repeat !important;
  height: 200px;
  padding: 4em 0;
  color: $white;
  height: 160px;
  a {
    color: inherit;
  }
  .major {
    h2 {
      font-size: 2em;
      color: $white;
    }
    .byline {
      font-size: 1.1em;
    }
  }
}
