@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $gray-light;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $dark;
  }
}

.remember_me {
  width: auto;
  margin-left: 0;
}

.detail {
  background-color: $cerulean-color;
  border-top-width: 5px;
  padding: 20px;
  h2 {
    margin-top: 0;
  }
}

tbody {
  tr:first-child td {
    border-top: 0;
  }
  tr td:first-child {
    font-weight: bold;
  }
}

.form-control {
  border-radius: 0;
  &:hover, &:active {
    background: $alto-color;
  }
  option {
    min-height: 1.8em;
  }
}
.btn.btn-outlined.btn-success {
  background: none;
  border-radius: 0;
  border: 3px solid $fern-color;
  color: $fern-color;
  &:hover, &:active {
    color: $white;
    background: $apple-color;
  }
}

.btn.btn-outlined.btn-primary {
  border-radius: 0;
  background: none;
  border: 3px solid $electric-violet-color;
  color: $electric-violet-color;
  &:hover, &:active {
    color: $white;
    background: $electric-light-color;
  }
}

.dropzone {
  background: #f4f4f4 !important;
  border: none !important;
  font-size: 2.5rem;
  font-weight: 700;
}

.form-user {
  margin-top: 100px;
  padding: 20px;
  background-color: $moon-mist-color;
  border-radius: 3px;
}

.container-form {
  background-image: url("https://cdn2.ivivu.com/2016/05/06/10/singapore.jpg");
  height: 100vh;
}

.modal-fix-length {
  width: 1200px;
}

h4.name-tour {
  margin-left: 15px;
  height: 40px;
  a {
    color: $regal-blue-color !important;
    &:hover {
      text-decoration-line: none;
    }
  }
}

.pull-right {
  background-color: $mexican-red-color;
}
