@import 'color';

.snip1325 {
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 20px;
  overflow: hidden;
  min-width: 255px;
  max-width: 315px;
  height: 220px;
  width: 100%;
  box-shadow: 0 0 5px $color-015;
  img {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
  }
  &:hover {
    img {
      -webkit-transform: translateX(130px);
      transform: translateX(130px);
    }
  }
}

.snip25 {
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 20px;
  overflow: hidden;
  min-width: 255px;
  max-width: 315px;
  height: 220px;
  width: 100%;
  box-shadow: 0 0 5px $color-015;
  img {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
  }
  &:hover {
    img {
      -webkit-transform: translateX(130px);
      transform: translateX(130px);
    }
  }
}

.snip132 {
  position: relative;
  z-index: 2;
  float: left;
  overflow: hidden;
  min-width: 255px;
  max-width: 315px;
  height: 220px;
  width: 100%;
  box-shadow: 0 0 5px $color-015;
  img {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
  }
  &:hover {
    img {
      -webkit-transform: translateX(130px);
      transform: translateX(130px);
    }
  }
}

.snip13 {
  position: relative;
  z-index: 2;
  float: left;
  overflow: hidden;
  min-width: 255px;
  max-width: 315px;
  height: 220px;
  width: 100%;
  box-shadow: 0 0 5px $color-015;
  img {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
  }
  &:hover {
    img {
      -webkit-transform: translateX(130px);
      transform: translateX(130px);
    }
  }
}

.includeimg {
  margin-top: 73px;
  margin-left: 45px;
}
