<!-- Footer -->
<div id="footer">
  <div class="anitext">
    <div class="bounce">
      <%= t ".group" %>
    </div>
    <div class="strobe">
      <%= t ".dvn" %>
      <br>
      <%= t ".thq" %>
    </div>
    <div class="credits">
      <i><%= t ".develop" %></i>
    </div>
  </div>
</div>
