<footer class="fixed-bottom">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <ul class="menu navbar-btn">
          <li><%= link_to t(".home"), root_path %></li>
          <li><%= link_to t(".listtour"), "#listtour" %></li>
          <li><%= link_to t(".book"), "#booked" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row text-center">
        <p><%= t ".copyright" %></p>
      </div>
    </div>
  </div>
</footer>
